# Ignorar directorios de compilación de todos los proyectos
**/target/

# Ignorar configuraciones específicas de Cargo
**/.cargo/

# Ignorar lock files de proyectos de bibliotecas
**/Cargo.lock

# Archivos de IDEs y editores
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Otros archivos temporales
**/.DS_Store
**/Thumbs.db
**/*.tmp

# exec del primer programa hola mundo
1_hello_world_rustup/main

# Ignorar archivos temporales de editores
**/*.rs.bk
*.swp
*.swo
**/.vscode/
**/.idea/

# Ignorar archivos de pruebas
**/*.profraw